.footer {
  margin-left: 130px;
  background-color: #1C1A19;
  @include transition(0.6s);
  @include clearfix();
  .grid_footer{
    overflow: hidden;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    position: relative;
    padding-top: 35px;
    .footer_content{
      text-transform: uppercase;
      font-size: 14px;
      &:nth-of-type(1), &:nth-of-type(6){
        &:after{
          content: '';
          background-color: white;
          position: absolute;
          top: -10px;
          right: 0;
          height: 95%;
          width: 1px;
        }
      }
      li{
        margin-bottom: 25px;
      }
      img{
        max-width: 125px;
      }
    }
    &:after{
      content: '';
      background-color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
    }
  }
  .contact{
    height: 150px;
    width: 150px;
    float: left;
    text-align: left;
  }
  .billet{
    height: 150px;
    width: 150px;
    float: right;
    text-align: right;
  }
  &.active{
    margin-left: 330px;
  }
}

/**********************
Media Queries
**********************/

@media screen and (max-width: 767px) {


}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {

}

@media screen and (max-width: 990px) and (min-width: 768px) {
  .footer_content{
    width: 50%;
    float: left;
  }
}

@media screen and (max-width: 1100px) {
  .footer{
    margin-left: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  /* Retina-specific stuff here */

}

@media print and (min-width: 5in) {

}

