.footer {
  margin-left: 130px;
  background-color: #1C1A19;
  @include transition(0.6s);
  @include clearfix();
  .grid_footer{
    padding: 35px;
    overflow: hidden;
    text-align: center;
    color: white;
    position: relative;
  }

  .footer_content{
    height: 270px;
    width: 33%;
    overflow: hidden;
    text-transform: uppercase;
    float: left;
    ul{
      width: 50%;
      height: 100%;
      float: left;
      position: relative;
      &:nth-of-type(1), &:nth-of-type(3){
        &:after{
          content: '';
          background-color: white;
          position: absolute;
          right: 0;
          top: 0;
          height: 90%;
          width: 1px;
        }
      }
      li{
        font-size: 10px;
        margin-bottom: 15px;
        padding: 5px;
        &:first-of-type{
          font-weight: 600;
        }
      }
    }
    img{
      max-width: 125px;
    }
  }

  .contenu_grid{
    &:nth-of-type(1){
      position: relative;
      margin-bottom: 35px;
      &:after{
        content: '';
        height: 1px;
        width: 100%;
        background-color: white;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

  .contact_footer{
    height: 150px;
    width: 50%;
    float: left;
    text-align: left;
    font-size: 14px;
  }
  .billet{
    font-size: 14px;
    height: 150px;
    width: 50%;
    float: right;
    text-align: right;
  }
  &.active{
    margin-left: 330px;
  }

  .mentions{
    ul{
      width: 33.3333333333333%;
      margin: 0 auto;
      position: relative;
      li{
        display: inline;
        width: 10%;
        font-size: 10px;
        text-transform: uppercase;
        color: #999999;
      }
      &:before{
        content: '';
        position: absolute;
        left: -101%;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #999999;
      }
      &:after{
        content: '';
        position: absolute;
        left: 101%;
        top: 50%;
        width: 100%;
        height: 1px;
        background-color: #999999;
      }
    }
  }
}

/**********************
Media Queries
**********************/

@media screen and (max-width: 767px) {
  .grid_footer{
    .contenu_grid{
      .footer_content{
        ul{
          width: 100%;
          &:after{
            display: none;
          }
        }
      }
      .contact_footer{
        width: 100%;
        float: none;
        text-align: center;
      }
      .billet{
        width: 100%;
        float: none;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .grid_footer{
    .contenu_grid{
      .footer_content{
        width: 100%;
        float: none;
        margin: 0 auto;
        margin-bottom: 35px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer{
    margin-left: 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  /* Retina-specific stuff here */

}

@media print and (min-width: 5in) {

}

