.header {
  @include clearfix();

  &__logo {

    img {

    }
  }

  &__nav {

  }

  &__logo {

    &--mobile {
      display: none;

    }
  }

  &__nav {
    &--mobile {
      display: none;

    }

  }

  &__hamb {
    position: absolute;
    top:50px;
  }
}


a.header__hamb {
  position: absolute;
  top:50px;
}

/*********************
Hamberger
*********************/

.hamburger-icon {
  position: absolute;
  top: 40px;
  z-index:1000;
  right: 0;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.hamburger-icon span {
  position: relative;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 2px;
  color: #000;
  background-color: #000;
  -webkit-transition: -webkit-background .5s;
  transition: background .5s;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  &:before, &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 22px;
    height: 2px;
    color: #000;
    content: '';
    background-color: #000;
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  &:after {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hamburger-icon.is-opened span {
  background: transparent;
}

.hamburger-icon.is-opened span::before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.hamburger-icon.is-opened span::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.hamburger-icon.is-opened {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}


