/*****************************
SIDEBAR MON ACTION CULTURELLE + La SAISON
*****************************/

.sidebar_actions_culturelles, .sidebar_saison{
  background-color: #F5F3F3;
  color: black;
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -265px;
  @include transition(0.6s);
  &.active{
    left: 0;
  }

  &__img {
    margin-left: -110px;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;




    ul {
      padding: 3rem 1rem 2rem;
      background-color: #ECE8E7;
      border-radius: 50%;
      text-align: center;
      li {
        padding:.7rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }

  }
}




/*****************************
SIDEBAR Decouvrir
*****************************/

.sidebar_decouvrir{
  background-color: #F5F3F3;
  color: black;
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -265px;
  @include transition(0.6s);
  &.active{
    left: 0;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;




    ul {
      padding: 5rem 1rem 4rem;
      background-color: #ECE8E7;
      border-radius: 50%;
      text-align: center;
      li {
        padding:.7rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }

  }


}

.ressource {
  font-size: 1.3rem;
}



/*****************************
SIDEBAR RESSOURCES
*****************************/

.sidebar_ressources{
  background-color: white;
  color: black;
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -265px;
  @include transition(0.6s);
  &.active{
    left: 0;
  }

  &__title {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;

  }

  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;




    ul {
      padding: 5rem 1rem 4rem;
      background-color: #ECE8E7;
      border-radius: 50%;
      text-align: center;
      li {
        padding:.7rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
      }
    }

  }
}

/*****************************
SIDEBAR MON ESPACE
*****************************/

.sidebar_soutenir{
  background-color: white;
  color: black;
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -400px;
  @include transition(0.6s);
  &.active{
    left: 0;
  }
}

#titre{
  color: black;
  font-size: 25px;
  width: 100%;
  margin-top: 15px;
  text-align: center;
  font-weight: 500;
}

.section_espaceosb{
  text-align: center;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  height:33%;
  p{



  }
}

.espaceosb {



  &__inner {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:90%;
  }

  &__title {
    font-size:1.3rem;
    font-weight: 400;
    margin:0;
    text-transform: uppercase;

  }

  &__subtitle {
    font-family: $font2;
    font-size:2.2rem;
    margin: 0;
    font-weight: 400;
  }

  &__content {
    font-size: 1.15rem;
    font-weight: 400;
    text-align: center;
    margin:1.5rem 0;
  }
}



.sidebar__all {

    left: -265px;

}

#particulier{
  background-color: #E9E7DB;
}

#don{
  background-color: #DBE8F0;
}

.btn_savoir{
  border: thin black solid;
  padding: 4px 10px;
  width: 120px;
  font-size:1.2rem;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin: 0px auto;

  text-transform: uppercase;

  &:hover {


    color: white;
@include transition();

    background-color: black;

  }
}
#btn_don{

}


/*****************************
SIDEBAR MENU
*****************************/

.sidebar_1 {
  width: 130px;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  top:0;
  left:0;
  text-align: center;
  background-color: black;
  font-size: calc(10px + 0.16vw);
  text-transform: uppercase;
  color: #FFF;
  z-index: 1000;
  @include transition(0.6s);
  &.active{
    left: 265px;
  }
}

.content_side{
  position: relative;
  width: 100%;
  height: 100%;
  //overflow: hidden;
}


/* Top Sidebar */

.top{
  width: 100%;
  height: 33%;
}

#abonnement {
  display: block;
  position: relative;
  width: 65px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 15px;
  color: white;

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 48px;
    height: 40px;
    width: 1px;
    background-color: white;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711)";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711);
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 18px;
    height: 40px;
    width: 1px;
    background-color: white;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711)";
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711);
  }
  &:hover{
    cursor: pointer;
  }
}

/* Middle Sidebar */

.middle{
  width: 100%;
  height: 33%;
}

#logo_sidebar {
  height: 100px;
  width: 100px;
  text-indent: -5000px;
  margin: 0 auto;
  background-image: url('../images/osb_logo.svg');
  -webkit-background-size: cover;
  background-size: cover;
  a{
    display: block;
    width: 100%;
    height: 100%;
  }
}
#reseaux_sociaux{
  text-align: center;
  overflow: hidden;
  margin: 15px auto 0;
  li{
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-background-size: cover;
    background-size: cover;
    a{
      height: 100%;
      width: 100%;
      display: block;

    }
    &:nth-of-type(1){
      background-image: url('../images/fb.svg');
    }
    &:nth-of-type(2){
      background-image: url('../images/tw.svg');
    }
    &:nth-of-type(3){
      background-image: url('../images/instagram.svg');
    }
  }
}

/* Bottom Sidebar */

.bot{
  width: 100%;
  height: 33%;
  overflow: hidden;
}

#side_nav{
  width: 80%;
  margin: 0 auto;
  ul{
    li{
      margin-bottom: 12px;
      line-height: 16px;
      position: relative;
      a{
        text-decoration: none;
        color: white;
        &:hover{
          cursor: pointer;
        }
      }
      &#espace{
        cursor: pointer;
      }
      &:before{
        content: '';
        position: absolute;
        left: -35px;
        bottom: 0;
        width: 15px;
        height: 20px;
        background-image: url("../images/hover_side.svg");
        background-repeat: no-repeat;
        @include transition(0.3s);
      }
      &:hover{
        &:before{
          left: -20px;
        }
      }
    }
  }
}

#bouton_sidebar{
  border: thin white solid;
  font-size: calc(8px + 0.2vw);
  padding: 5px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  display: block;

  width: 80%;
  margin: 30px auto;
  @include transition(0.6s);
  &:hover{
    color: black;
    background-color: white;
  }
}


/*****************************
RESPONSIVE
*****************************/

/*1024px*/

@media screen and (max-width: 1100px) {

  .sidebar__all{
    left:-265px;
  }

  .sidebar_1 {
    left:-130px;
  }

  .sidebar_1 {


    &.active {
      display: block;
      left:0;
    }

    z-index:9;
  }

  .sidebar__all {
    z-index:10;
  }



}
@media screen and (max-width: 768px) {


  .sidebar_1 {

    width: 50%;
    left: -50%;

  }

}
