.btn{

  cursor: pointer;
  border:1px solid #000;
  color: $text-color;
  background-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  padding:0.3rem 0.7rem;
  font-size:1.3rem;

  &:hover{

  }
}

.btn-small{ line-height: 30px; }