
///////////////////////// STYLE CALENDRIER

#plugin_calendar{
  overflow: hidden;
  width: 100%;
  padding: 35px;
  background-color: rgba(243, 241, 241, 0.37);
}

.calendar {
  overflow: inherit;
  &:after{
    content: '';
    display: block;
    clear: both;
}

///////////////////////// FILTER SELECTOR

  #selector{
    margin-right: 20px;
    height: 200px;
    width: 128px;
    float: left;
    position: relative;
    font-size: 12px;
    &.full{
      width: 256px;
    }
  }

  .gauche_select{
    float: left;
    text-transform: uppercase;
    &.full{
      width: 50%;
    }
  }

  .btn_gauche{
    text-transform: uppercase;
  }

  .droite_select{
    float: right;
    width: 50%;
    text-align: right;
  }

  .btn_select{
    padding: 5px;
    border: none;
    width: 90%;
    margin: 0 auto 10px;
    text-align: center;
    background-color: #EDEDED;
    @include transition(0.3s);
    &:hover{
      background-color: black;
      color: white;
    }
  }

  .datepicker{
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    @include transition(0.3s);
    &.active{
      height: 100%;
      width: 100%;
    }
  }

  #close{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 216px;
    cursor: pointer;
    background-image: url('../images/close.svg');
  }

  #date_value{
    display: none;
  }

  .ui-datepicker {
    width: 216px;
    height: auto;
    background-color: #EFEDEC;
    position: relative;
  }

  .ui-datepicker-header{
    height: 25px;
    color: black;
    padding-top: 5px;
  }

  .ui-datepicker-title{
    text-align: center;
  }

  .ui-datepicker-next{
    width:10px;
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    cursor: pointer;
    text-indent: -5000px;
    background-image: url("../images/calendrier-right.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .ui-datepicker-prev{
    width:10px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: inline-block;
    cursor: pointer;
    text-indent: -5000px;
    background-image: url("../images/calendrier-left.svg");
    background-repeat: no-repeat;
    background-position: right;
  }

  .ui-datepicker-calendar{
    width: 100%;
    thead{
      tr{
        th{
          span{
            font-weight: 400;
          }
        }
      }
    }
    tr{
      height: 28px;
      td{
        text-align: center;
        border: white 1px solid;
        height: 100%;
        a{
          font-size: 12px;
          display: block;
          width: 100%;
          height: 100%;
          padding: 5px;
          @include transition(0.2s);
          &:hover{
            text-decoration: none;
            cursor: pointer;
            font-weight: 400;
            background-color: #FAEA2D;
          }
        }
      }
    }
  }


///////////////////////// RESULTAT AJAX

  #resultAjax{
    float: left;
    width: calc(100% - 148px;);

    .resultat{
      padding: 35px;
    }


    .fiche{
      &__item{
        width: 31.333333%;
      }
    }

    &.full{
      width: calc(100% - 276px);
    }
  }

  /***********************
  RESPONSIVE
  ***********************/

  /*****1600px*****/

  @media screen and (max-width: 1600px) {

  }

  /*****1200px*****/

  @media screen and (max-width: 1200px) {

  }


  /*****1024px*****/


  @media screen and (max-width: 1024px) {

    #selector{
      margin: 0 auto;
      float: none;
      overflow: hidden;
      width: 100%;
    }

    #resultAjax{
      width: 100%;
    }

    .gauche_select{
      width: 50%;
    }
  }

  /*****768px*****/

  @media screen and (max-width: 768px) {

  }

  @media screen and (max-width: 480px) {

    #resultAjax{
      .fiche{
        &__item{
          width: 100%;
        }
      }
    }
    #selector {
      display: none;
    }
  }
}
