.section-event-media {
  padding: 2rem 1.5rem;
  margin:0 auto;
  width:90%;

}

.event-media {

  &--right {
    position: relative;
  }

  &--center {
    position: relative;
  }
  &__item {

    p {
      width: 380px;
      margin:0 auto;

      &:after {
        content: '';
        height: 75px;
        width: 28px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        right: 67px;
        transform: skew(-30deg);
        display: none;

      }
    }
  }

}

.slideshow {

  &--bonus {
    height: 225px;
    width: 395px;
  }

  .slider {
    &--bonus {
      height: 225px;

    }
  }
}

.previous_btn {
  &--bonus {
    left: 15px;
  }
}

.next_btn {
  &--bonus {
    right: 17px;
  }
}

.cta__stop {
  padding: 0 !important;
  position: static !important;
  background-color: #fff !important;

}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {



}

@media screen and (min-width: 900px) {

  .event-media {
    &--left, &--right {
      width: 50%;
      float: left;
    }

    &--center {
      width: 50%;
      margin: 0 auto;

    }



  }

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 900px) {

  .event-media {


    &__item {
      p {
        margin:0 auto 2rem;
      }
    }

  }

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {
}

@media screen and (max-width: 1100px) {

}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}

