.section-menu-event {
  background-color: $grey;

}

.menu-event {
  &__inner {
    padding:1.5rem 0;


  }

  &__item {
    display: inline-block;
    margin:0.4rem 4rem 0.4rem 0;
    color: #000;


  }
}