.section-event-focus {
  @include clearfix();
  padding:2.8rem 0 8.3rem;
}

.event-focus {
  &__inner {

  }

  &__title {


  }

  &__image{
    position: relative;
    height:210px;
    width: 300px;



    &:after {
      display: block;
      content:'';
      height:75px;
      width: 28px;
      background-color: #fff;
      position: absolute;
      bottom:0;
      right: -23px;
      transform: skew(-30deg);

    }
  }
  &__content {
    &__name {
      font-size: 2.9rem;
      float: left;
      line-height: 3rem;
      margin-top: 0;
      font-family: $font2;
      font-weight: 300;
      margin-left: 31px;
      display: inline-block;

      &:before {
        display: block;
        content:'+';
        position: absolute;
        top:0;
        font-size:5.5rem;
        left: 10px;

      }
    }

    &__instru {
      font-size: 2.9rem;
      line-height: 3rem;
      font-weight: 300;
      color: $grey-text;
      font-family:$font2;
      margin-left: 3px;
    }

    &__desc {
      font-size:1.4rem;
      font-weight: 300;
      color: #000;
      text-align: justify;
      clear: both;
      margin: 2rem 0 1rem;
    }

    &__more {
      color: $grey-text;
      font-style: italic;
      font-size: 1.3rem;
      line-height:1.4rem;
    }
  }
}


/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {

  .section-event-focus {
    padding:2.5rem 0 3.3rem;
  }

  .event-focus {
    &__image {
      margin: 0 auto 2rem;
    }

    &__content {
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}
