.section-event-media {
  padding:2rem 0;

}


.event-media {
  &__item {

    p {
      width:380px;

      &:after {
        display: block;
        content:'';
        height:75px;
        width: 28px;
        background-color: #fff;
        position: absolute;
        bottom:0;
        right: 67px;
        transform: skew(-30deg);

      }
    }
  }


}

.slideshow {
  &--bonus {
    height:225px;
    width:395px;
  }

  .slider {
    &--bonus {
      height:225px;

    }
  }
}

.previous_btn {
  &--bonus {
    left:15px;
  }
}

.next_btn {
  &--bonus {
    right:17px;
  }
}

.cta__stop {
  padding:0 !important;
  position: static !important;
  background-color: #fff !important;

}




/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {
}
@media screen and (max-width: 1100px) {

  .event-media {
    &__item {
      p {
        margin:0 auto 2rem;
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}

