.section-event-focus {
  @include clearfix();
  padding: 2.8rem 1.5rem 3.3rem 1.5rem;
}

.event-focus {
  &__inner {

  }

  &__title {

  }

  &__image {
    position: relative;
    height: 210px;
    width: 300px;
    margin: 0 auto;


    &:after {
      display: block;
      content: '';
      height: 75px;
      width: 28px;
      background-color: #fff;
      position: absolute;
      bottom: 0;
      right: -23px;
      transform: skew(-30deg);

    }
  }
  &__content {
    &__name {
      font-size: 2.9rem;
      float: left;
      line-height: 3rem;
      margin-top: 0;
      font-family: $font2;
      font-weight: 300;
      position: relative;
      margin-left: 31px;
      display: inline-block;

      &:before {
        display: block;
        content: '+';
        position: absolute;
        top: 0;
        font-size: 5.5rem;
        left: -34px;

      }
    }

    &__instru {
      font-size: 2.9rem;
      line-height: 3rem;
      font-weight: 300;
      color: $grey-text;
      font-family: $font2;
      margin-left: 3px;
    }

    &__desc {
      font-size: 1.4rem;
      font-weight: 300;
      color: #000;
      text-align: justify;
      clear: both;
      margin: 2rem 0 1rem;
    }

    &__more {
      color: $grey-text;
      font-style: italic;
      font-size: 1.3rem;
      line-height: 1.4rem;
    }
  }
}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

  .event-focus {
    &__content {
      &__name {
        margin-left: 0;
      }
    }
  }

}

@media screen and (min-width: 768px) {



  .event-focus {

    &__inner {
      margin: 0 auto;
      width: 90%;
    }
    &--right {
      width:55%;
      float: left;
    }

    &--left {
      width:45%;
      float: left;
    }
  }

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {

  .section-event-focus {
  }

  .event-focus {
    &__image {
      margin: 0 auto 2rem;

    }

    &__content {
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}
