.section-menu-event {
  background-color: $grey;

}

.menu-event {
  &__inner {
    padding: 1.5rem 0;

  }

  &__item {
    display: inline-block;
    margin: 0.4rem 4rem 0.4rem 0;
    color: #000;

    ul {
      float: right;
      margin: 0 1.5rem 0;

      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../images/reseaux.svg');
        -webkit-background-size: cover;
        background-size: cover;
        a {
          height: 100%;
          width: 100%;
          display: block;
          text-indent: -5000px;
        }
      }
    }

  }
}