.section-event-focus {
  @include clearfix();
  padding:2.8rem 0 8.3rem;
}

.event-focus {
  &__inner {

  }

  &__title {


  }

  &__image{
    position: relative;
    height:210px;
    width: 300px;



    &:after {
      display: block;
      content:'';
      height:75px;
      width: 28px;
      background-color: #fff;
      position: absolute;
      bottom:0;
      right: -23px;
      transform: skew(-30deg);

    }
  }
  &__content {
    &__name {
      font-size: 2.9rem;
      float: left;
      line-height: 3rem;
      margin-top: 0;
      font-family: $font2;
      font-weight: 300;
      margin-left: 31px;

      &:before {
        display: block;
        content:'+';
        position: absolute;
        top:0;
        font-size:5.5rem;
        left: 10px;

      }
    }

    &__instru {
      font-size: 2.9rem;
      line-height: 3rem;
      font-weight: 300;
      color: $grey-text;
      font-family:$font2;
      margin-left: 3px;
    }

    &__desc {
      font-size:1.3rem;
      line-height:1.4rem;
      color: #000;
      clear: both;
      margin: 2rem 0 1rem;
    }

    &__more {
      color: $grey-text;
      font-style: italic;
      font-size: 1.3rem;
      line-height:1.4rem;
    }
  }
}