.section-event-desc {

}

.event-desc {

  &__inner {
    margin: 8rem 0 4.5rem;
    @include clearfix();
  }

  &__image{
    position: relative;
    height:280px;
    width: 300px;


    &__play {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    &:after {
      display: block;
      content:'';
      height:75px;
      width: 28px;
      background-color: #fff;
      position: absolute;
      bottom:0;
      right: -23px;
      transform: skew(-30deg);

    }
  }
  &__spotify {
    display: none;
    position: absolute;
    top:0;

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
  }

  &__content {
    &__title {
      font-size: 3.1rem;
      line-height: 3.2rem;
      margin-top: 0;
      font-family: $font2;
      font-weight: 300;
      margin-left: 31px;

      &:before {
        display: block;
        content:'+';
        position: absolute;
        top:0;
        font-size:5.5rem;
        left: 10px;

      }
    }

    &__text {
      font-size:1.5rem;
      color: #000;
      text-align: justify;
    }
  }
}