.section-menu-event {
  background-color: $grey;
  padding:0 1.5rem;

}

.menu-event {
  &__inner {
    padding: 1.5rem 0;
    width: 80%;
    margin: 0 auto;

  }

  &__item {
    display: inline-block;
    margin: 0.4rem 4rem 0.4rem 0;
    color: #000;

    ul {
      float: right;
      margin: 0 1.5rem 0;

      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../images/reseaux.svg');
        -webkit-background-size: cover;
        background-size: cover;
        a {
          height: 100%;
          width: 100%;
          display: block;
          text-indent: -5000px;
        }
      }
    }

  }
}

.header {
  &__logo {
    position: absolute;
    bottom:15px;
    right:15px;
    &__img {

    }

  }
  &__title {
    position: absolute;
    bottom: 9px;
    left: 38px;
    color:#fff;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 200;
  }
}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

  .menu-event {
    &__inner {
      padding: 1.5rem 0;

    }

    &__item {
      display: block;
      text-align: center;
      margin: 0;
      color: #000;

      ul {
        display: none;
      }

    }
  }

}

@media screen and (min-width: 768px) {

}


@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {


}


@media screen and (max-width: 420px) {


}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}
