.section-event-joinus {
  background-color: $color-2;
  padding:4.5rem 0 4rem;
  overflow: hidden;
  text-align: center;

}

.event-joinus {

  &__title {
    font-family:$font2;
    font-size:4.6rem;
    line-height:4.7rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
  }

  &__btn {
    &--third {
      background-color: #000;
      color: #fff;
    }
  }

  &__item {



  }


}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 420px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {

  .event-joinus {
    &__btn {
      margin-bottom:1rem;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}
