.page-template-page-mecenat{

  .top_page_mecenat{
    padding: 35px;
    height: 710px;
    width: 100%;
    background-color: darkslategrey;
    //background-image: url('../images/bg_mecenat.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    .contenu_grid{
      overflow: inherit;
    }

    .title{
      font-size: 60px;
      margin-bottom: 15px;
      color: black;
      span{
        color: white;
      }
    }

    .btn_savoir_plus{
      display: block;
      position: relative;
      padding:5px 0;
      cursor: pointer;
      color: black;
      &:after{
        content: '';
        position: absolute;
        background-color: black;
        bottom: 0;
        left: 0px;
        width: 0;
        height: 1px;
        @include transition(0.6s);
      }
      &:hover{
        font-weight: inherit;
        &:after{
          width: 70px;
        }
      }
    }

    .intro_text{
      font-size: 12px;
      max-width: 320px;
      margin-top: 15px;
      color: black;
      position: relative;
    }

    .black_cross{
      position: absolute;
      right: -20px;
      bottom: -20px;
      height: 30px;
      width: 30px;
      background-image: url('../images/croix_noir.svg');
    }
  }

  .pourquoi_rejoindre{
    padding: 35px;
    width: 100%;

    .rejoindre{
      height: 370px;
      width: 46%;
      margin: 1%;
      float: left;
      border: 1px solid #F5F3F3;
      text-align: center;
      padding: 0px 50px;
    }

    .align{
      display: table-cell;
      vertical-align: middle;
      height: 370px;
    }

    .titre_pourquoi{
      font-size: 34px;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 25px;
      &:after{
        content: '';
        position: absolute;
        width: 65px;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #EBD519;
      }
    }

    .txt_pourquoi{
      font-size: 14px;
    }
  }

  .don{
    .formule{
      width: 33.333%;
      text-align: center;
      padding: 0px 50px;
      height: 435px;
      display: table-cell;
      vertical-align: middle;
    }

    .encadre{
      margin: 0 auto;
      margin-bottom: 20px;
      padding: 5px;
      text-transform: uppercase;
    }

    .titre{
      font-size: 34px;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 25px;
      &:after{
        content: '';
        position: absolute;
        width: 65px;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .plus{
      font-size: 25px;
    }

    .btn_don{
      width: 200px;
      margin: 0 auto;
      margin-top: 70px;
      padding: 5px;
      text-transform: uppercase;
      a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .ami{
      background-color: #F5F3F3;

      .titre:after{
        background-color: #EBD519;
      }

      .encadre{
        background-color: #EBD519;
        width: 50px;
      }

      .btn_don{
        color: #FFF;
        background-color: #000;
      }
    }

    .adhesion{
      background-color: #EBD519;
      border-right: 2px solid #FFFFFF;
      border-left : 2px solid #FFFFFF;

      .encadre{
        background-color: #000000;
        color: #EBD519;
        width: 225px;
      }

      .btn_don{
        color: #000000;
        background-color: #ffffff;
      }
    }

    .en_ligne{
      background-color: #EBD519;

      .titre:after{
        background-color: #ffffff;
      }

      .encadre{
        color: #FFF;
        background-color: #000;
        width: 250px;
      }

      .btn_don{
        color: #FFF;
        background-color: #000;
      }
    }
  }

  .participez_creation{
    padding: 35px;
    width: 100%;
  }

  .content_titre{
    width: 50%;
    float: left;
    text-align: right;
    padding: 0 65px;
  }
  
  .titre_crea{
    font-size: 50px;
    color: #EBD519;
    margin-bottom: 25px;
  }

  .sous_titre_crea{
    font-size: 24px;
  }

  .content_text{
    width: 50%;
    float: left;
    font-size: 14px;
    padding-top: 25px;
  }

  .contact{
    padding: 65px;
  }
  
  .btn_contact{
    width: 150px;
    margin: 0 auto;
    border: 1px solid #F5F5F3;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    a{
      display: block;
      height: 100%;
      width: 100%;
    }
  }


/***********************
RESPONSIVE
***********************/

  /*****1600px*****/

  @media screen and (max-width: 1600px) {

  }

  /*****1200px*****/

  @media screen and (max-width: 1200px) {

  }


  /*****1024px*****/


  @media screen and (max-width: 1024px) {
    .don{

      .formule{
        width: 100%;
        height: auto;
        display: block;
        padding: 40px 50px;
      }

      .adhesion{
        border-right: none;
        border-left : none;
        border-top: 2px solid #FFFFFF;
        border-bottom : 2px solid #FFFFFF;
      }
    }
  }

  /*****900px*****/


  @media screen and (max-width: 900px) {
    .pourquoi_rejoindre{

      .rejoindre{
        width: 100%;
        float: none;
        display: block;
        min-height: inherit;
        margin: 35px 0px;
      }
    }
  }
}