.page-template-page-action_culturelle{

  /////////////////////////  SLIDER HAUT DE PAGE

  .li_index{
    color: #ED1E24;
  }

  .title{
    span{
      color: #ED1E24;
    }
  }

  .btn_red{
    background-color: #ED1E24;
  }

  ///////////////////////// CONTENU

  .croix_noir{
    top: -12px;
    left: 8px;
  }

  .visuel_content{
    position: relative;
    img{
      position: absolute;
    }
  }

  //Contenu à droite

  .content_right{
    padding: 35px;
    overflow: hidden;
    width: 100%;
    .left_content{
      padding-right: 30px;
      width: 50%;
      float: left;
    }
    .right_content {
      width: 50%;
      float: right;
      padding-left: 30px;
      padding-top: 15px;
    }
    img{
      right: 0;
    }
  }

  //Contenu à gauche

  .content_left{
    background-color: #D9D2C4;
    padding: 35px;
    overflow: hidden;
    width: 100%;

    .left_content{
      padding-left: 30px;
      width: 50%;
      float: right;
    }

    .titre_content{
      text-align: left;
    }

    .croix_rouge{
      left: -32px;
      top: inherit;
    }

    .right_content{
      width: 50%;
      float: left;
      padding-right: 30px;
      padding-top: 15px;
      position: relative;
    }

    .inscrire{
      border-color: white;
      span{
        color: white;
      }
    }

    .btn_inscription{
      border-color: white;
    }
  }

  //Contenu "spécial"

  .special_content{
    padding: 35px;
    overflow: hidden;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;

    .left_content{
      padding-right: 30px;
      width: 50%;
      float: left;
    }

    .right_content {
      width: 50%;
      float: right;
      padding-left: 30px;
      padding-top: 15px;
    }

    .titre_right_text{
      color: #FFFFFF;
    }

    .txt_right_content{
      color: #FFFFFF;
    }

    .croix_noir{
      background-image: url('../images/croix_blanche.svg');
    }

    .inscrire{
      color: #FFFFFF;
      background-color: #000000;
    }

    .btn_inscription{
      color: #ED1E24;
    }
  }

  ///////////////////////// FORMULAIRE

  .formulaire{
    padding: 35px;
  }

  .titre_formulaire{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .wpcf7-form{
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
    input{
      background-color: #F5F5F3;
      padding: 5px;
      font-size: 12px;
      border: none;
      margin-bottom: 15px;
    }
    select{
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 12px;
      padding: 9px;
    }
    textarea#projet{
      border: none;
      width: 96%;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 12px;
      padding: 9px;
      background-color: #F5F5F3;
    }
  }

  .inner_form_title{
    margin-bottom: 24px;
    font-size: 16px;
  }

  .formulaire_left, .formulaire_right{
    width: 50%;
    float: left;
  }

  .formulaire_right{
    input{
      width: 100%;
    }
  }

  #choix_un, #choix_deux{
    width: 70%;
  }

  #date_choix_un, #date_choix_deux{
    width: 25%;
    padding: 4px;
  }

  #ecole, #adresse, #classe, #nombre_participant{
    width: 49%;
    float: left;
  }

  #ecole, #classe{
   margin-right: 2%;
  }

  .formulaire_submit{
    width: 100%;
    text-align: center;
  }

  #inscrire{
    background-color: #ffffff;
    border: 1px solid #F5F5F3;
    width: 100px;
    padding: 5px 20px;
    margin-top: 30px;
  }

  ///////////////////////// ENCADRÉ "PARCOURS"

  .parcours{
    padding: 35px;
    text-align: center;

    .contenu_grid{
      border: 1px solid #F3F3F3;
      padding: 35px;
    }
  }

  .titre_parcours{
    font-size: 34px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-family: $font2;
    &:after{
      content: '';
      position: absolute;
      background-color: #ED1E24;
      width: 65px;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  ///////////////////////// RESPONSIVE

  @media screen and (max-width: 768px) {

    .inner_form_title{
      margin-bottom: 24px;
      font-size: 16px;
    }

    .formulaire_left, .formulaire_right{
      width: 80%;
      float: none;
      margin: 0 auto;
    }

    #choix_un, #choix_deux{
      width: 70%;
    }

    #date_choix_un, #date_choix_deux{
      width: 25%;
      padding: 4px;
    }

    #ecole, #adresse, #classe, #nombre_participant{
      width: 100%;
      float: none;
    }
    .visuel_content{
      position: relative;
      text-align: center;
      img{
        position: inherit;
      }
    }
  }
}
