.page-template-page-artistes-associes{

  ///////////////////////// TOP PAGE ARTISTES ASSOCIES

  .top_page_artistes-associes{
    background-image: url(../images/slide-mecenat.jpg);
  }

  .title{
    span{
      color: #F68B23;
    }
  }

  .intro_text{
    color: black;
  }
}