.page-template-page-don-en-ligne {
  .top_page_mecenat{
    padding: 150px 35px 35px;
    height: 590px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-image: url(../images/slide-mecenat.jpg);
  }

  .title{
    font-size: 60px;
    margin-bottom: 15px;
    color: black;
    font-family: $font2;
    span{
      color: white;
    }
  }

  .btn_savoir_plus{
    display: block;
    position: relative;
    padding:5px 0;
    cursor: pointer;
    color: black;
    &:after{
      content: '';
      position: absolute;
      background-color: black;
      bottom: 0;
      left: 0px;
      width: 0;
      height: 1px;
      @include transition(0.6s);
    }
    &:hover{
      font-weight: inherit;
      &:after{
        width: 70px;
      }
    }
  }

  .intro_text{
    font-size: 12px;
    max-width: 320px;
    margin-top: 15px;
    color: black;
    position: relative;
  }

  .black_cross{
    position: absolute;
    right: -20px;
    bottom: -20px;
    height: 30px;
    width: 30px;
    background-image: url('../images/croix_noir.svg');
  }


  .form .ami {
    background-color: #EBD519;

  }

}


.page-template-page-adhesions-en-ligne-ami {
  .top_page_mecenat{
    padding: 150px 35px 35px;
    height: 590px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/slide-mecenat.jpg);
  }

  .title{
    font-size: 60px;
    margin-bottom: 15px;
    color: black;
    font-family: $font2;
    span{
      color: white;
    }
  }

  .btn_savoir_plus{
    display: block;
    position: relative;
    padding:5px 0;
    cursor: pointer;
    color: black;
    &:after{
      content: '';
      position: absolute;
      background-color: black;
      bottom: 0;
      left: 0px;
      width: 0;
      height: 1px;
      @include transition(0.6s);
    }
    &:hover{
      font-weight: inherit;
      &:after{
        width: 70px;
      }
    }
  }

  .intro_text{
    font-size: 12px;
    max-width: 320px;
    margin-top: 15px;
    color: black;
    position: relative;
  }

  .black_cross{
    position: absolute;
    right: -20px;
    bottom: -20px;
    height: 30px;
    width: 30px;
    background-image: url('../images/croix_noir.svg');
  }

}


.page-template-page-adhesion-en-ligne-mecene{
  .top_page_mecenat{
    padding: 150px 35px 35px;
    height: 590px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/slide-mecenat.jpg);
  }

  .title{
    font-size: 60px;
    margin-bottom: 15px;
    color: black;
    font-family: $font2;
    span{
      color: white;
    }
  }

  .btn_savoir_plus{
    display: block;
    position: relative;
    padding:5px 0;
    cursor: pointer;
    color: black;
    &:after{
      content: '';
      position: absolute;
      background-color: black;
      bottom: 0;
      left: 0px;
      width: 0;
      height: 1px;
      @include transition(0.6s);
    }
    &:hover{
      font-weight: inherit;
      &:after{
        width: 70px;
      }
    }
  }

  .intro_text{
    font-size: 12px;
    max-width: 320px;
    margin-top: 15px;
    color: black;
    position: relative;
  }

  .black_cross{
    position: absolute;
    right: -20px;
    bottom: -20px;
    height: 30px;
    width: 30px;
    background-image: url('../images/croix_noir.svg');
  }

}








.form {
  margin-bottom: 3rem;
  &__inner {
    width: 90%;
    margin: 0 auto;

  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2.1rem;
    margin-bottom: 3.5rem;
    margin-top: 3rem;
  }

  
  &__right {
    background-image: url(../images/vianney_prudhomme.png);
    min-height:385px;
    margin: 0 15px;
    background-position: center center;
    background-size:cover;
    float: left;
    width:62%;

    &--text {
      text-align: center;
      width:45%;
      float: left;
      border: 2px solid #F3F1F1;
      padding: 35px 55px;
      min-height:385px;

      ul {
        width: 80%;
        margin: 0 auto;
        font-size: 1.4rem;
        li {

        }
      }

    }
  }
  .formule{
    width: 33.333%;
    text-align: center;
    padding: 35px;

    vertical-align: middle;
    ul{
      width: 80%;
      margin: 0 auto;
      font-size: 1.4rem;
    }

    &--text {
      width: 45%;
      text-align: center;
      padding: 35px 85px;
      margin: 0 30px;
    }
  }

  .encadre{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 700;
  }

  .titre{
    font-size: 34px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-family: $font2;
    &:after{
      content: '';
      background-color: #EBD519;
      position: absolute;
      width: 65px;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .sous_titre_cadre{
    font-size: 16px;
    font-style: italic;
    color: #999999;
  }

  .plus{
    font-size: 25px;
    font-family: $font2;
  }

  .btn_don{
    width: 200px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 5px;
    text-transform: uppercase;
    a{
      display: block;
      height: 100%;
      width: 100%;
    }
  }



  .ami{
    background-color: #fff;
    border:2px solid #EBD519;
    overflow: hidden;
    float: left;
    position: relative;
    min-height:385px;
    &:hover{
      .hover_don{
        opacity: 1;
      }
    }

    .titre:after{
      background-color: #EBD519;
    }

    .encadre{
      background-color: #EBD519;
      max-width: 130px;
    }

    .btn_don{
      color: #FFF;
      background-color: #000;
    }
  }

  //Center

  .center{
    border-right: 2px solid #FFFFFF;
    border-left : 2px solid #FFFFFF;
  }

}


.section-hello {

}

.hello {
  &__inner {
    width: 90%;
    margin: 0 auto;
  }
}

.enterdon {
  margin-top:1rem;
}

#calcul {
  background-color: #fff;
  text-align: center;
}
#resCalc {

}

#span__calc {
  margin:1rem 0 1.5rem;
  text-decoration: underline;
  cursor: pointer;
  
}

.bg_jaune {
  background-color: #EBD519 !important;
}

/******************************
MEDIA QUERIES
******************************/

@media screen and (max-width: 767px) {

  .page-template-form-adhesion .top_page_mecenat, .page-template-page-adhesions-en-ligne-ami .top_page_mecenat {
    padding: 22px 35px 35px;
    height: auto;
  }

  .page-template-page-don-en-ligne {
    .form .ami {
      min-height:auto;
    }
  }

  .form .ami {
    width: 100%;
    margin: 1rem 0;
  }

  .form {
    &__right {
      display: none;
      &--text {
        width: 100%;
        margin: 1rem 0;
      }
    }
  }

}

@media screen and (min-width: 768px) {

}

@media screen and (max-width: 990px) {

}

@media screen and (min-width: 990px) {
}

@media screen and (max-width: 990px) and (min-width: 768px) {

}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 460px) {



}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
}

@media print and (min-width: 5in) {
}

