.page-template-page-saison-piccolo{

  /////////////////////////  SLIDER HAUT DE PAGE

  .top_page_action {
    background: url(../images/slide-jp.jpg) no-repeat center center;

    li {
      color: #ED1E24;
    }

    .title {
      span {
        color: #ED1E24;
      }
    }

    .btn_red {
      background-color: #ED1E24;
    }
  }


  ///////////////////////// CONTENU

  .croix_noir{
    top: 0;
    left: 30px;
  }

  .image_position{
    .img_content{
      img{
        width: 350px;
      }
    }
  }

  //Contenu à droite

  .content_right{
    padding: 35px;
    width: 100%;
    position: relative;
    min-height: 430px;
    .left_content{
      padding-right: 30px;
      width: 50%;
      float: left;
      text-align: right;
    }
    .right_content {
      width: 50%;
      float: right;
      padding-left: 30px;
      padding-top: 15px;
      position: relative;
    }
    .image_position{
      left: 0;
      .img_content{
        img{
          right: 50px;
          bottom: -50px;
        }
      }
    }
  }

  //Contenu à gauche

  .content_left{
    position: relative;
    background-color: #FFFFFF;
    padding: 35px;
    width: 100%;

    .left_content{
      padding-left: 30px;
      width: 50%;
      float: right;
    }

    .titre_content{
      text-align: left;
    }

    .croix_rouge{
      left: -32px;
      top: inherit;
    }

    .right_content{
      width: 50%;
      float: left;
      padding-right: 30px;
      padding-top: 15px;
      position: relative;

      .croix_noir{
        left: 0;
      }
    }

    .image_position{
      right: 0;
      .img_content{
        img{
          left: 35px;
          bottom: -115px;
        }
      }
    }
    &.katia{
      padding-top: 90px;
      background-color: #D9D2C4;

      .inscrire{
        border-color: #FFFFFF;

        span{
          color: #ffffff;
        }

        .btn_inscription{
          border-color: #ffffff;
        }
      }
    }
  }

  //Contenu "spécial"

  .special_content{
    padding: 75px 35px 35px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    height: 400px;

    .contenu_grid{
      height: 100%;
    }

    .left_content{
      padding-right: 30px;
      width: 50%;
      float: left;
    }

    .right_content {
      width: 50%;
      float: right;
      padding-left: 30px;
      padding-top: 15px;
      position: relative;
    }

    .inscrire{
      background-color: transparent;
      color: #000;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 12px;
      padding: 40px 35px;
      border-color: #fff;
    }

    .btn_inscription{
      color: #ED1E24;
    }
  }

  ///////////////////////// RESPONSIVE

  @media screen and (max-width: 768px) {

    #nouveau_monde{
      .img_content{
        display: none;
      }
    }

    .visuel_content{
      position: relative;
      text-align: center;
      img{
        position: inherit;
      }
    }

    .titre_content{
      font-size: 42px;
    }

    .special_content{
      height: inherit;
    }

    .content_right{
      .image_position{
        position: inherit;
        .img_content{
          position: inherit;
          img{
            position: inherit;
            bottom: 0;
            right: 0;
          }
        }
      }
    }

    .croix_noir{
      left: 0;
    }
  }
}
