.page-template-page-masterclasses{

  /////////////////////////  SLIDER HAUT DE PAGE

  .li_index{
    color: #ED1E24;
  }

  .title{
    span{
      color: #ED1E24;
    }
  }

  .btn_red{
    background-color: #ED1E24;
  }
}
