.page-template-page-masterclasses{

  /////////////////////////  SLIDER HAUT DE PAGE

  .top_page_action{
    position: relative;
    padding-bottom: 90px;
  }

  .li_index{
    color: #ED1E24;
  }

  .title{
    span{
      color: #ED1E24;
    }
  }

  .btn_red{
    background-color: #ED1E24;
  }

}
