.page-template-page-orchestre-invite{

  /////////////////////////  SLIDER HAUT DE PAGE

  .top_page_action{
    background: url(../images/slide-cote-orch.jpg) no-repeat center center;

    li{
      color: #EBD519;
    }

    .title{
      span{
        color: #EBD519;
      }
    }

    .btn_red{
      background-color: #EBD519;
    }
  }

  /////////////////////////  CONTENU

  .croix_noir{
    top: -12px;
    left: 8px;
  }

  img{
    width: 100%;
  }

  .last_opera{
    background-image: url('../images/bg-cote-orch.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .image_position{
    .img_content{
      img{
        width: 470px;
      }
    }
  }

  //Contenu à droite

  .content_right--medecin {
    .image_position .img_content img {
      left:inherit;
    }
  }

  .content_right{
    padding: 35px;
    width: 100%;
    position: relative;
    .left_content{
      padding-right: 30px;
      width: 50%;
      float: left;
    }
    .right_content {
      width: 50%;
      float: right;
      padding-left: 30px;
      padding-top: 15px;
    }
    .image_position{
      right: 0;
      .img_content{
        img{
          left: 0;
          bottom: -80px;
        }
      }
    }
    &.nain{
      padding-top: 125px;
    }
  }
  //Contenu à gauche
  .content_left{
    background-color: #D9D2C4;
    padding: 35px;
    position: relative;
    width: 100%;

    .left_content{
      padding-left: 30px;
      width: 50%;
      float: right;
    }

    .titre_content{
      text-align: left;
    }

    .croix_rouge{
      left: -32px;
      top: inherit;
    }

    .right_content{
      width: 50%;
      float: left;
      padding-right: 30px;
      padding-top: 15px;
      position: relative;
    }

    .inscrire{
      border-color: white;
      span{
        color: white;
      }
    }

    .btn_inscription{
      border-color: white;
    }
    .image_position{
      left: 0;
      .img_content{
        img{
          right: 0;
          bottom: -115px;
        }
      }
    }
    &.katia{
      padding-top: 90px;
    }
  }

  ///////////////////////// RESPONSIVE

  @media screen and (max-width: 1024px) {
    .image_position{
      display: none;
    }
  }

  @media screen and (max-width: 768px) {

    #nain{
      padding-top: 25px;
    }

    #katia{
      padding-top: 25px;
    }

    .content_right, .content_left{
      .image_position{
        position: inherit;
        margin: 0 auto 35px;
        width: 68%;
        .img_content{
          position: inherit;
          img{
            position: inherit;
            bottom: 0;
          }
        }
      }
    }
  }
}