.page-template-page-historique{

  .contenu_grid{
    overflow: inherit;
  }

  .red_cross{
    height: 41px;
    width: 41px;
    display: block;
    margin: 0 auto;
    background-image: url('../images/croix_rouge.svg');
  }

  /////////////////////////  TOP PAGE HISTORIQUE

  .titre_date{
    font-size: 60px;
    color: #ED1E24;
    font-family: $font2;
  }

  .timeline{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top:-40px;
      left: 50% ;
      bottom:-15px;
      width:1px;
      background-color:#ED1E24;
    }
  }

  .date_finale {
    position: relative;
    height: 420px;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    .contenu_grid{
      position: absolute;
      left: 50%;
      top: 200px;
      transform: translateX(-50%);
      background-color: rgba( 255, 255, 255, 0.7);
    }
  }

  .red_cross{
    position: relative;
  }

  .date_center_rouge{
    color: #ED1E24;
    font-size: 60px;
    font-family: $font2;
  }

  /////////////////////////  AFFICHER LA DATE GLOBAL

  .visuel_date{
    width: 50%;
    height: 100%;
    position: relative;
    text-align: center;
  }

  img{
    height: 320px;
    width: auto;
  }

  .content_date{
    width: 50%;
    padding: 80px 35px 35px 90px;
  }

  .image_test{
    position: absolute;
    height: 280px;
    width: 416px;
    margin-top: 50px;
    -webkit-background-size: cover;
    background-size: cover;
    left: calc( 50% - 157.5px);
  }

  /////////////////////////  AFFICHER LA DATE À DROITE

  .date_right{
    -webkit-background-size:cover;
    background-size:cover;
    height: 315px;
    width: 100%;
    overflow: hidden;

    .visuel_date{
      float: left;
    }

    .content_date{
      float: right;
    }
    &:nth-of-type(1){
      background-color: #E5DFD5;
    }
  }

  /////////////////////////  AFFICHER LA DATE À GAUCHE

  .date_left{
    padding: 35px;
    height: 315px;
    width: 100%;
    &:nth-of-type(6){
      background-color: #E5DFD5;
    }
    .visuel_date{
      float: right;
    }

    .red_cross{
      position: absolute;
      left: 10%;
      top: 10px;
    }

    .content_date{
      float: left;
      text-align: right;
      padding: 35px 90px 35px 35px;
    }
  }

  /////////////////////////  DATE EN BAS DE PAGE

  .date_debut{
    padding-top: 25px;
    height: 420px;
    width: 100%;
    text-align: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    .date_center_rouge{
      color: #ED1E24;
      font-size: 60px;
      font-family: $font2;
    }

    img{
      width: 200px;
    }

    .red_cross{
      position: relative;
    }
  }

/***********************
RESPONSIVE
***********************/

  /*****1600px*****/

  @media screen and (max-width: 1600px) {

  }

  /*****1200px*****/

  @media screen and (max-width: 1200px) {

  }


  /*****1024px*****/


  @media screen and (max-width: 1024px) {

    .intro_histo{
      padding: 0 35px;
    }

    .timeline{
      &:before{
        left: 30px;
      }
    }

    .date_finale{
      .red_cross{
        margin: 0 0 0 10px;
      }
    }

    .date_right{
      height: auto;

      .contenu_grid{
        padding: 35px;
      }

      .visuel_date{
        text-align: inherit;
        width: 100%;
        float: none;
      }

      img{
        height: inherit;
      }

      .content_date{
        padding: 0;
        width: 100%;
        float: none;
      }
    }

    .date_left{
      height: auto;

      .visuel_date{
        width: 100%;
        height: 100%;
        float: none;
        position: relative;
        display: block;
      }

      .image_test{
        position: inherit;
        margin-top: 0px;
        -webkit-background-size: cover;
        background-size: cover;
        left: 0;
        width: 100%;
      }

      .red_cross{
        display: none;
      }

      .content_date{
        width: 100%;
        float: none;
        text-align: left;
        padding: 0;
      }
    }

    .date_debut{
      height:auto;
      padding-bottom: 35px;

      .red_cross{
        margin: 0 0 0 10px;
      }
    }
  }
}
