.page-template-page-venir-groupe{

  /////////////////////////  SLIDER HAUT DE PAGE

  .top_page_action {
    background-image: url(../images/slide-venir.jpg);

    .btn_red {
      background-color: #ED1E24;
    }
  }

  ///////////////////////// FORMULAIRE

  .formulaire_groupe{
    padding: 35px;
  }

  .titre_form_groupe{
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
  }

  .wpcf7-form{
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
    input{
      background-color: #F5F5F3;
      padding: 5px 5px 5px 15px;
      font-size: 12px;
      border: none;
      width:90%;
      margin-bottom: 15px;
    }
    select{
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      font-size: 12px;
      padding: 9px;
    }
    p{
      margin-bottom: 0;
    }
  }

  .inner_form_title{
    font-size: 16px;
    line-height: 29px;
  }

  .formulaire_left, .formulaire_right{
    width: 50%;
    float: left;
  }

  .formulaire_right{
    padding-top: 22px;
    input{
      width: 100%;
    }
  }

  .preciser{
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 8px;

    &--obli {
      margin-top: 30px;
    }
  }

  #choix_un, #choix_deux{
    width: 90%;
  }

  #nombre_accompagnateur, #nombre_participant{
    width: 90%;
  }

  #code_postal, #ville{
    width: 49%;
    float: left;
  }

  #code_postal{
    margin-right: 2%;
  }

  .formulaire_submit{
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  #inscrire{
    background-color: #ffffff;
    border: 1px solid #F5F5F3;
    width: 100px;
    padding: 5px 20px;
    margin-top: 30px;
  }
  @media screen and (max-width: 768px) {

    .inner_form_title{
      font-size: 16px;
    }

    .formulaire_left, .formulaire_right{
      width: 80%;
      float: none;
      margin: 0 auto;
    }

    .preciser {
      line-height: 14px;
    }

    #choix_un, #nombre_accompagnateur, #adresse, #nombre_participant, #code_postal, #ville {
      width: 100%;
    }
  }
}