.page-template-page-saison{

  .main_saison{
    margin-left: 130px;
    padding: 35px;
  }

  .filtreSelector{
    overflow: hidden;
    height: 220px;
    margin-bottom: 35px;
    @include transition(0.6s);
    ul{
      display: inline-block;
      float: left;
      margin-right: 35px;
      li{
        margin-bottom: 1px;
        button{
          padding: 5px;
          border: none;
          margin: 0 auto;
          margin-bottom: 10px;
          text-align: center;
          width: 100%;
          background-color: #EDEDED;
          @include transition(0.3s);
          &:hover{
            background-color: black;
            color: white;
          }
          &.first_btn{
            background-color: black;
            color: white;
          }
          &.active{
            background-color: black;
            color: white;
          }
        }
      }
    }
    &.active{
      height: 400px;
    }
  }

  #plus_de_tag{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    border: 1px solid darkslategrey;
    cursor: pointer;
    @include transition(0.3s);
    &:hover{
      background-color: black;
      color: white;
    }
  }
  
  #clear_filters{
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 35px;
    border: 1px solid darkslategrey;
    cursor: pointer;
  }

.resultat{

  .left_event{
    width: 75%;
    float: left;
    color: white;
    padding-left: 12px;
    padding-top: 25px;
    font-family: $font2;
  }

  .right_event{
    width: 25%;
    float: left;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 25px;
    &:before{
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      height: 50px;
      width: 1px;
      background-color: white;
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      transform: rotate(30deg);
      -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711)";
      filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711);
    }
  }

  ul {
    overflow: hidden;
    width: 100%;
  }

  li{
    width: 23.5%;
    min-height: 165px;
    color: white;
    background-color: darkslategrey;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2%;
    margin-bottom: 35px;
    float: left;
    &:nth-of-type(4n){
      margin-right: 0;
    }
  }

  p{
    margin-bottom: 0;
    &.cat_calendrier{
      color: #FDE608;
      font-size: 10px;
    }
    &.titre_calendrier{
      max-width: 250px;
      font-size: 13px;
    }
    &.artiste_calendrier{
      font-size: 11px;
    }
    &.day_calendrier{
      font-size: 21px;
      font-weight: 500;
    }
    &.month_calendrier, &.lieu_calendrier{
      font-size: 9px;
    }
    &:nth-of-type(3){
      margin-bottom: 50px;
    }
  }

  .link_calendrier{
    display: block;
    margin-bottom: 25px;
    position: relative;
    font-size: 10px;
    &:after{
      content: '';
      position: absolute;
      background-color: white;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      @include transition(0.6s);
    }
    &:hover{
      font-weight: inherit;
      &:after{
        width: 55px;
      }
    }
  }
}
}