
///////////////////////// VOUS AIMEREZ PEUT-ÊTRE

.suggestion {
  padding: 35px;
  background-color: #F5F3F3;

  .fiche{
    &__item{
      width: 31.333333%;
    }
  }

  .titre_sugg {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }
}