
///////////////////////// VOUS AIMEREZ PEUT-ÊTRE

.suggestion {
  padding: 35px;
  background-color: #F5F3F3;

  .titre_sugg {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 35px;
  }


    .fiche {
      background-color: #F5F3F3;
      padding: 3rem 0;
      &__item {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 31.333333%;
        position: relative;
        min-height: 150px;
        cursor: auto !important;
        font-family: $font2;
        font-weight: 400;
        float: left;
        margin-right: 2%;
        margin-bottom: 20px;
        &:nth-of-type(4n){
          margin-right: 0;
        }

        .link_calendrier {
          position: absolute;
          bottom: 10px;
          font-size: 11px;
          font-weight: 300;

          &:hover {

            &:after {
              width: 55px;

            }
          }

          &:after {
            content: '';
            position: absolute;
            background-color: white;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1px;
            -webkit-transition: 0.6s;
            -khtml-transition: 0.6s;
            -moz-transition: 0.6s;
            -ms-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;

          }
        }

        .left_date {
          width: 70%;
          float: left;
          color: white;
          padding: 10px 0 0 10px;
        }

        .right_date {
          width: 25%;
          float: left;
          color: white;
          text-align: center;
          position: relative;
        }

        .right_date:before {
          content: '';
          position: absolute;
          left: 4px;
          top: 6px;
          height: 46px;
          width: 1px;
          background-color: white;
          -webkit-transform: rotate(30deg);
          -moz-transform: rotate(30deg);
          -ms-transform: rotate(30deg);
          -o-transform: rotate(30deg);
          transform: rotate(30deg);
          -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711)";
          filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711);
        }

        .bot_date {
          position: absolute;
          bottom: 10px;
          right: 12px;
          color: #000;
          text-transform: uppercase;
          font-family: Kanit;
          font-size: 10px;
          font-weight: 600;
          padding: 4px 7px;

        }

        .bot_date--yellow {
          background-color: #F0D504;
        }

        .bot_date--green {
          background-color: #97B421;
        }

        .bot_date--blue {
          background-color: #44B4BD;
        }

        .type {
          font-weight: 200;
          font-size: 10px;
          color: #F0D504;
        }

        .type--green {
          color: #97B421;
        }

        .type--blue {
          color: #44B4BD;
        }

        .titre {
          line-height: 13px;
          font-size: 13px;
          text-transform: uppercase;
        }

        .artiste {
          font-size: 11px;
          font-style: italic;
          font-weight: 200;
        }

        .date_jours {
          font-weight: 300;
          font-size: 22px;
          font-family: Kanit;
          padding: 9px 0 0;
          line-height: 20px;
        }

        .date_mois {
          font-family: Kanit;
          font-size: 10px;
        }

        .lieu {
          line-height: 9px;
          font-family: Kanit;
          font-size: 10px;
          font-weight: 200;
          font-style: italic;
        }

        .img_hover {
          -webkit-background-size: auto 200px;
          background-size: auto 200px;
          width: 100%;
          height: 0;
          -webkit-transition: 0.3s;
          -khtml-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
        }

        .savoir_plus_calendrier {
          padding-top: 126px;
        }
      }
    }


  @media screen and (max-width: 1024px) {

    .resultat{
      .fiche{
        &__item{
          width: 48%;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .date_slider{
      padding-left: 0;
      padding-top: 50px;
    }

    .fiche{
      &__item{
        width: 100% !important;
      }
    }
  }
}