.page-template{

  /////////////////////////  SLIDER HAUT DE PAGE

  .top_page_action{
    padding: 180px 35px 35px;
    height: 710px;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }

  .index{
    margin-bottom: 25px;
  }

  li{
    font-size: 12px;
  }

  .title{
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
    font-family: $font2;
  }

  .tag{
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
    div{
      display: inline-block;
      float: left;
    }
  }

  .btn_red{
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
  }

  .btn_savoir_plus{
    display: block;
    position: relative;
    padding:5px 10px;
    cursor: pointer;
    color: white;
    &:after{
      content: '';
      position: absolute;
      background-color: white;
      bottom: 0;
      left: 10px;
      width: 0;
      height: 1px;
      @include transition(0.6s);
    }
    &:hover{
      font-weight: inherit;
      &:after{
        width: 70px;
      }
    }
  }

  .intro_text{
    font-size: 12px;
    max-width: 320px;
    margin-top: 15px;
    color: white;
  }

  /////////////////////////  SOUS-MENU

  .sub_menu{
    padding: 20px 35px 0 35px;
    background-color: #F5F3F3;

    ul{
      li{
        display: inline-block;
        float: left;
        font-size: 15px;
        margin-right: 50px;
        margin-bottom: 20px;
        cursor: pointer;
        position: relative;
        padding-bottom: 5px;
        &:after{
          content: '';
          position: absolute;
          background-color: black;
          bottom: 0;
          left: 0px;
          width: 0;
          height: 1px;
          @include transition(0.6s);
        }
        &:hover{
          &:after{
            width: 100%;
          }
        }
      }
    }
    &.fixed{
      position: fixed;
      top: 0;
      right: 0;
      left: 130px;
      z-index: 50;
    }
  }

  /////////////////////////  CONTENU

  .titre_content{
    font-size: 50px;
    margin-bottom: 30px;
    color: #ED1E24;
    text-align: right;
    position: relative;
    font-family: $font2;
  }

  .croix_rouge{
    background-image: url('../images/croix_rouge.svg');
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    right: -32px;
  }

  .croix_noir{
    background-image: url('../images/croix_noir.svg');
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
  }

  .titre_right_text{
    padding-left: 25px;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
  }

  .txt_right_content{
    padding-left: 25px;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: justify;
  }

  .qui{
    padding-left: 25px;
    font-size:10px;
    color: #828080;
    margin-bottom: 35px;
  }

  .inscrire{
    border: 1px solid #D9D2C4;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    font-family: $font2;
    span{
      color: #D9D2C4;
    }
  }

  .ligne_un{
    font-size: 21px;
    div{
      display: inline;
    }
  }

  .ligne_deux{
    font-size: 15px;
    div{
      display: inline;
    }
  }

  .ville{
    color: #ED1E24;
  }

  .salle{
    font-style: italic;
  }

  .btn_inscription{
    font-size: 12px;
    border: 1px solid #D9D2C4;
    margin: 10px auto 0;
    width: 150px;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: $font;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .image_position{
    position: absolute;
    display: block;
    width: 50%;
    top: 0;
    bottom: 0;
    z-index: 15;
    .img_content{
      position: relative;
      width: 100%;
      height: 100%;
      img{
        position: absolute;
        height: auto;
        bottom: 0;
      }
    }
  }


  ///////////////////////// VIGNETTES SPECTACLES

  .fiche {
    background-color: #F5F3F3;
    padding: 3rem 0;
    &__item {
      background-size: cover;
      background: no-repeat center center;
      position: relative;
      min-height: 150px;
      cursor: auto !important;
      font-family: $font2;
      font-weight: 400;
      float: left;
      margin-right: 2%;
      margin-bottom: 20px;
      &:nth-of-type(4n){
        margin-right: 0;
      }

      .link_calendrier {
        position: absolute;
        bottom: 10px;
        font-size: 11px;
        font-weight: 300;

        &:hover {
          &:after {
            width: 55px;
          }
        }

        &:after {
          content: '';
          position: absolute;
          background-color: white;
          bottom: 0;
          left: 0;
          width: 0;
          height: 1px;
          -webkit-transition: 0.6s;
          -moz-transition: 0.6s;
          -o-transition: 0.6s;
          transition: 0.6s;
        }
      }

      .left_date {
        width: 70%;
        float: left;
        color: white;
        padding: 10px 0 0 10px;
      }

      .right_date {
        width: 25%;
        float: left;
        color: white;
        text-align: center;
        position: relative;
      }

      .right_date:before {
        content: '';
        position: absolute;
        left: 4px;
        top: 6px;
        height: 46px;
        width: 1px;
        background-color: white;
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711)";
        filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.70711, M12=0.70711, M21=-0.70711, M22=0.70711);
      }

      .bot_date {
        position: absolute;
        bottom: 10px;
        right: 12px;
        color: #000;
        text-transform: uppercase;
        font-family: $font2;
        font-size: 10px;
        font-weight: 600;
        padding: 4px 7px;

      }

      .bot_date--yellow {
        background-color: #F0D504;
      }

      .bot_date--green {
        background-color: #97B421;
      }

      .bot_date--blue {
        background-color: #44B4BD;
      }

      .type {
        font-weight: 200;
        font-size: 10px;
        color: #F0D504;
      }

      .type--green {
        color: #97B421;
      }

      .type--blue {
        color: #44B4BD;
      }

      .titre {
        line-height: 13px;
        font-size: 13px;
        text-transform: uppercase;
      }

      .artiste {
        font-size: 11px;
        font-style: italic;
        font-weight: 200;
      }

      .date_jours {
        font-weight: 300;
        font-size: 22px;
        font-family: $font2;
        padding: 9px 0 0;
        line-height: 20px;
      }

      .date_mois {
        font-family: $font2;
        font-size: 10px;
      }

      .lieu {
        line-height: 9px;
        font-family: $font2;
        font-size: 10px;
        font-weight: 200;
        font-style: italic;
      }

      .img_hover {
        -webkit-background-size: auto 200px;
        background-size: auto 200px;
        width: 100%;
        height: 0;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
      }

      .savoir_plus_calendrier {
        padding-top: 126px;
      }
    }
  }

  /////////////////////////  RESPONSIVE

  /*1024px*/
  @media screen and (max-width: 1024px) {

    .resultat{
      .fiche{
        &__item{
          width: 50%;
          float: none;
          overflow: hidden;
          margin: 0 auto 35px;
          &:last-of-type{
            margin-right: inherit;
          }
        }
      }
    }
  }

  /*768px*/
  @media screen and (max-width: 768px) {

    .top_page_action {
      padding-top: 35px;
      height: 540px;
      .title {
        font-size: 45pxss;
      }
    }

    .sub_menu {
      li {
        display: block;
        width: 100%;
        text-align: center;
        &:after {
          display: none;
        }
      }
    }

    .titre_content{
      text-align: left;;
    }

    .content_right{
      .left_content{
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
        text-align: left;
      }
      .right_content{
        float: none;
        width: 100%;
        padding: 0;
      }
    }

    .content_left{
      .left_content{
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
      }
      .right_content{
        float: none;
        width: 100%;
        padding: 0;
      }
    }

    .special_content{
      .left_content{
        float: none;
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
      }
      .right_content{
        float: none;
        width: 100%;
        padding: 0;
      }
    }

    .croix_rouge{
      display: none;
    }

    .titre_content{
      font-size: 42px;
    }

    .date_slider{
      padding-top: 50px;
      padding-left: 50px;
    }

    .fiche{
      &__item{
        width: 100% !important;
      }
    }
  }
}