/**********************
VARIABLE
**********************/



$font: "Kanit";
$font2: "Montserrat";
$color-1: #F0D305;
$color-2: #C8AB58;
$color-3: #E31F27;
$color-4: #D9E021;
$color-5: #B4CD36;
$color-6: #26A8E0;
$grey: #F3F1F1;
$grey-text: #999999;

$text-color: #000;
$link-color :#000;
$link-hover :#000;



$alert-yellow: #ebe16f;
$alert-red: #fbe3e4;
$alert-green: #e6efc2;
$alert-blue: #d5edf8;
$bones-pink: #f01d4f;
$black: #000;
$white: #fff;
$brown: #534741;
$light-gray: #f8f9fa;
$gray: #eaedf2;

$meta-gray: #9fa6b4;
$tan: #eceee5;


$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #fff;

$light-gray:        #f8f9fa;
$gray:              #201C1B;

$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/* Tools */
@import "tools/mixins";

/* Base */
@import "base/base";
@import "base/normalize";

/* Layout */
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/sidebar";

/* Modules */
@import "modules/btn";
@import "modules/input";

@import "modules/form";
@import "modules/home";
@import "modules/event";
@import "modules/event-menu";
@import "modules/page-saison";

@import "modules/event-desc";
@import "modules/event-partners";
@import "modules/event-focus";
@import "modules/event-program";
@import "modules/event-date";
@import "modules/event-joinus";
@import "modules/event-media";
@import "modules/datepicker";
@import "modules/page-action-culturelle";
@import "modules/page-historique";
@import "modules/page-mecenat";
@import "modules/page-abonnement";
@import "modules/cote-pratique";
@import "modules/abonner";
@import "modules/salle";
@import "modules/ressources-publiques";
@import "modules/header-ressources";
@import "modules/page-orchestre-invite";
@import "modules/page-saison-piccolo";
@import "modules/template-part-suggestion";
@import "modules/page-masterclasses";
@import "modules/page-venir-groupe";
@import "modules/page-poles";
@import "modules/page-accessbilite";
@import "modules/page-orchestre";
@import "modules/page-orga";
@import "modules/page-adhesion";
